/node_modules
package-lock.json

# Playwright
/test-results/
/tests/example.spec.ts
/tests-examples/
/playwright-report/
/playwright/.cache/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json